* {
    font-family: Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
}

.nav-icon {
    font-size: 1.25rem;
}

.resume-btn {
    border: 1px solid #343a40;
    color: #343a40;
}

.resume-btn:hover {
    background-color: #343a40;
    color: white;
}

#home {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#skills {
    width: 100%;
    min-height: 100%;
}

.skills-btn:hover, .skills-btn.mixitup-control-active {
    background-color: #343a40;
    color: #ffffff;
}

.skills-heading {
    color: #343a40;
    font-size: 1rem;
}

.skills-icon {
    width: 2rem;
    height: 2rem;
    font-size: 1rem;
    border-radius: 50%;
    color: white;
    background-color: #343a40;
}

#portfolio {
    width: 100%;
    min-height: 100%;
}

.section-heading {
    text-align: center;
    padding-top: 6rem;
}

.portfolio-btn:hover, .portfolio-btn.mixitup-control-active {
    background-color: #343a40;
    color: #ffffff;
}

.portfolio-item {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.portfolio-item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.portfolio-item-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #343a40;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -moz-transition:    opacity 0.3s;
    -ms-transition:     opacity 0.3s;
    -o-transition:      opacity 0.3s;
    transition:         opacity 0.3s;
}

.portfolio-item:hover > .portfolio-item-overlay {
    opacity: 0.7; 
}

.portfolio-item:hover > .portfolio-item-heading {
    opacity: 1;
}

.portfolio-item-heading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    padding: 0.5rem;
    color: white;
    -webkit-transition: opacity 0.3s;
    -moz-transition:    opacity 0.3s;
    -ms-transition:     opacity 0.3s;
    -o-transition:      opacity 0.3s;
    transition:         opacity 0.3s;
}

.portfolio-item-heading:hover {
    color: white;
    text-decoration: none;
}
