* {
    font-family: Helvetica, sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.nav-icon {
    font-size: 1.25rem;
}

#home {
    width: 100%;
    height: 100%;
}

#skills {
    width: 100%;
    min-height: 100%;
}

#portfolio {
    width: 100%;
    min-height: 100%;
}

.section-heading {
    text-align: center;
    padding-top: 6rem;
}
